/* esilos de las cart*/

.cartDescriptionItem{
    display: flex;
    flex-direction: column;
    background: black;
    width: 17rem;
    height: 27rem;
    margin: 3rem;
    border-style: double;
    border-color: #b8cad0;
    box-shadow: 4px 4px 15px #4a5053;  
}
.imgDefault{
    z-index: 1;
    width: 14rem;
    margin: 1.3rem;
}

.productName{
    margin: 0.8rem;
    text-align: center;
    color: #b8cad0;
    font-size: 1.1rem;
}

.button{
    margin: 0.5rem 3.6rem;
    align-self: center;
}