/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*estilos del carrito de compras*/
.shoppingCart{
    background-color: #91A9B0;  
}

.carrito{
    font-size: 2rem;
    margin-top: 1rem;
}
