/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*estilos del carrito de compras*/
.shoppingCart{
    background-color: #91A9B0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.carrito{
    font-size: 2rem;
    margin: 1.2rem;
}
